<!DOCTYPE html>
<html>
    <head>
        <title>一个简单的nodejs项目</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../public/css/index.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="../public/js/index.js"></script>
    </head>

    <body>
        <div class="contanier">
            <h1>GET 示例</h1>
          {{main content}}
        </div>
        <div class="form">
            <h1>POST 示例</h1>
            <form action="/query" method="POST">
                First name: <input type="text" name="Firstname"><br/>
                Last name: <input type="text" name="Lastname">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
